html {
  --article-bg-color: #808080;
  .navigation{ grid-area: nav; }
  .big-features{grid-area: b;}
  .small-features{grid-area:sm;}
  .top-articles{grid-area: top-a;}

}

h1 {
  color: black;
}



main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: var(--article-bg-color);
  grid-column: 3;
}

div {
  background-color: red;
}

.navigation{
  grid-row-start: 1;


}